<form class="myForm" id="aireForm" method="post" action="">
    <div class="input-group">
        <label for="lenght">La longueur de l'écran :</label>
        <input class="input" type="number" name="lenght" id="lenght" placeholder="longueur" required>
    </div>
    <div class="input-group">
        <label for="width">largeur</label>
        <input class="input" type="number" name="width" id="width" placeholder="largeur" required>
    </div>
    <div class="input-group">
        <label for="dpi">Dpi de l'écran</label>
        <input class="input" type="number" name="dpi" id="dpi" placeholder="dpi" required>
    </div>
    <div class="input-group">
        <label for="unite">Les unites de mesure (cm, pouces, pixels)</label>
        <select class="input" name="unite" id="unite" required>
            <option value="CM">cm</option>
            <option value="PIXELS" selected>pixels</option>
            <option value="POUCES">pouces</option>
        </select>
    </div>

    <input type="submit" value="Valider">
</form>