<form id="" method="" action="">
    <div>
        <label for="lenght">La longueur de l'écran :</label>
        <input type="number" name="lenght" id="lenght" placeholder="longueur">
    </div>
    <div>
        <label for="width">largeur</label>
        <input type="number" name="width" id="width" placeholder="largeur">
    </div>
    <div>
        <label for="dpi">Dpi de l'écran</label>
        <input type="number" name="dpi" id="dpi" placeholder="dpi">
    </div>
    <div>
        <label for="unite">Les unites de mesure (cm, pouces, pixels)</label>
        <select name="unite" id="unite">
            <option value="cm">cm</option>
            <option value="pixels">pixels</option>
            <option value="pouces">pouces</option>
        </select>
    </div>

    <input type="submit" value="Valider">
</form>